body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.task2{
    width: 10%;
    margin-top: 3rem;
}

.hidden{
    display: none;
}

.task3{
    width: 100px;
    height: 100px;
    margin-top: 3rem;
    border: 1px solid black;
    background-color: burlywood;
    cursor: pointer;
}